<!--{% extends 'base.html'%}-->
{% import 'bootstrap/wtf.html' as wtf%}
<!--Heredamos de nuestro archivo base-->
{%block title %}
    {{super()}}
    404
{% endblock %}

{% block content %}
        <h1 class="text-center">404</h1>
        <h2 class="text-center">Lo sentimos, este URL no existe en la aplicación</h2>
        <!--<p class="text-center">{{ error }}</p>-->
        <div class="justify-content:center;display:flex;gap: 10px;">
            <a href="/" class="btn btn-primary">Volver al inicio</a>
        </div>

{% endblock %}