{%macro render_procesos(proceso)%}
    
    <tr>
        <td>{{proceso.get_id()}}</td>
        <td> {{proceso.get_tamanio_inicial()}}</td>
        <td>{{proceso.get_tamanio()}}</td>
        <td>
            <ul>
                {% for recurso in proceso.get_recursos() %}
                    <li>{{ recurso.get_nombre() }}</li>
                {% endfor %}
            </ul>
        </td>
        <td> {{proceso.get_estado()}}</td>
        <td> {{proceso.get_hilos()}}</td>
        <td> {{proceso.get_preminencia()}}</td>
        <td> {{proceso.get_paginas()}}</td>
        <td> {{proceso.get_paginas_mp()}}</td>
        <td> {{proceso.get_paginas_mv()}}</td>
    </tr> 

    <!--
    <h2>Proceso {{proceso.get_id()}}</h2>
    <ul>
        <li>Tamaño inicial: {{proceso.get_tamanio_inicial()}}</li>
        <li>Tamaño: {{proceso.get_tamanio()}}</li>
        <li>Recursos necesarios: {{ proceso.get_recursos() | length }}
            <ul>
                {% for recurso in proceso.get_recursos() %}
                    <li>{{ recurso.get_nombre() }}</li>
                {% endfor %}
            </ul>
        </li>
        <li>Estado: {{proceso.get_estado()}}</li>
        <li>Hilos: {{proceso.get_hilos()}}</li>
        <li>Preminencia: {{proceso.get_preminencia()}}</li>
    </ul>
    -->
{%endmacro%}

{%macro render_cola_estados(proceso)%}
    
    <tr>
        <td>{{proceso.get_id()}}</td>
        <td> {{proceso.get_tamanio_inicial()}}</td>
        <td>{{proceso.get_tamanio()}}</td>
        <td>
            <ul>
                {% for recurso in proceso.get_recursos() %}
                    <li>{{ recurso.get_nombre() }}</li>
                {% endfor %}
            </ul>
        </td>
        <td> {{proceso.get_estado()}}</td>
        <td> {{proceso.get_hilos()}}</td>
        <td> {{proceso.get_preminencia()}}</td>
    </tr> 

{%endmacro%}