{%macro render_procesos(proceso)%}
    <h2>Proceso {{proceso.get_id()}}</h2>
    <ul>
        <li>Tamaño inicial: {{proceso.get_tamanio_inicial()}}</li>
        <li>Tamaño: {{proceso.get_tamanio()}}</li>
        <li>Recursos necesarios: {{ proceso.get_recursos() | length }}
            <ul>
                {% for recurso in proceso.get_recursos() %}
                    <li>{{ recurso.get_nombre() }}</li>
                {% endfor %}
            </ul>
        </li>
        <li>Estado: {{proceso.get_estado()}}</li>
        <li>Hilos: {{proceso.get_hilos()}}</li>
        <li>Preminencia: {{proceso.get_preminencia()}}</li>
    </ul>
{%endmacro%}