
<nav class="navbar navbar-default ">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{url_for('index')}}">SO</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{url_for('index')}}">Home</a></li>
        <li class="active"><a href="{{url_for('crear_proceso')}}">Creacion de procesos</a></li>
        <li class="active"><a href="{{url_for('visualizar_procesos')}}">Ver procesos</a></li>
        <li class="active"><a href="{{url_for('visualizar_memoria')}}">Ver memoria</a></li>
        <li class="active"><a href="https://github.com/dfbustamantep/Proyecto-SO" target="_blank">Repositorio GitHub</a></li>
      </ul>
    </div>
</nav> 



<!-- <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
  <div class="container-fluid">
      <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Delegados_Lambda</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
          <ul class="navbar-nav flex-grow-1">
    
              <li class="nav-item">
                  <a class="nav-link text-dark" href="{{url_for('crear_proceso')}}">Creacion de procesos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-dark" href="{{url_for('crear_proceso')}}">Creacion de procesos</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link text-dark"  href="{{url_for('visualizar_procesos')}}">Ver procesos</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link text-dark" href="{{url_for('visualizar_memoria')}}">Ver memoria</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link text-dark" href="https://github.com/dfbustamantep/Proyecto-SO" target="_blank">Repositorio GitHub</a>
              </li>
          </ul>
      </div>
  </div>
</nav> -->