{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
{% import 'macros.html' as macros %}

<!--Heredamos de nuestro archivo base-->
{%block title %}
    {{super()}}
    Ver procesos
{% endblock %}

{% block content %}
    
    {%if procesos%}
        <div class="container mt-4">
            <h1>Procesos creados</h1>
            
            <table class="table table-striped">
                <tr>
                    <th>ID Proceso</th>
                    <th>Tamaño inicial</th>
                    <th>Tamaño actual</th>
                    <th>Recursos necesarios</th>
                    <th>Estado</th>
                    <th>Hilos</th>
                    <th>Preminencia</th>
                </tr>
                {% for proceso in procesos %}
                    {{macros.render_procesos(proceso)}}
                {% endfor %}
            </table>
            
            <div style="justify-content:center;display:flex;gap: 10px;">
                <a href="{{ url_for('visualizar_estados') }}" class="btn btn-primary">Ver colas de estados</a>
                <a href="{{ url_for('visualizar_recursos') }}" class="btn btn-primary">Ver colas de recursos</a>
                <form action="{{ url_for('ejecutar_procesos') }}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-primary">Ejecutar 1 vez</button>
                </form>
            </div>
            </div>
        </div>
    {%else%}
        <h2>No hay procesos creados</h2>
        <a href="{{ url_for('crear_proceso')}}" class="btn btn-primary">Crear proceso</a>
    {%endif%}
{% endblock %}