{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
{% import 'macros.html' as macros %}

<!--Heredamos de nuestro archivo base-->
{%block title %}
    {{super()}}
    Colas de estados
{% endblock %}

{% block content %}
    
    <!--{%if context%}-->
        <div class="container mt-4">
            <h1>Colas de estados</h1>
            
            <h3>Cola de nuevos</h3>
            <table class="table table-striped">
                <table class="table table-striped">
                    <tr>
                        <th>ID Proceso</th>
                        <th>Tamaño inicial</th>
                        <th>Tamaño actual</th>
                        <th>Recursos necesarios</th>
                        <th>Estado</th>
                        <th>Hilos</th>
                        <th>Preminencia</th>
                    </tr>
                    {% for proceso in cola_nuevo %}
                        {{macros.render_cola_estados(proceso)}}
                    {% endfor %}
                </table>
            </table>

            <!-- <h3>Cola de listos</h3>
            <table class="table table-striped">
                {% for proceso in cola_listo %}
                    {{macros.render_cola_estados(proceso)}}
                {% endfor %}
            </table>

            <h3>Cola de bloqueados</h3>
            <table class="table table-striped">
                {% for proceso in cola_bloqueado %}
                    {{macros.render_cola_estados(proceso)}}
                {% endfor %}
            </table>

            <h3>Cola de ejecuciones</h3>
            <table class="table table-striped">
                {% for proceso in cola_ejecucion %}
                    {{macros.render_cola_estados(proceso)}}
                {% endfor %}
            </table>

            <h3>Cola de terminados</h3>
            <table class="table table-striped">
                {% for proceso in cola_terminado %}
                    {{macros.render_cola_estados(proceso)}}
                {% endfor %}
            </table> -->
            

        </div>
    <!-- {%else%}
        <h2>No hay procesos creados</h2>
        <a href="{{ url_for('crear_proceso')}}" class="btn btn-primary">Crear proceso</a>
    {%endif%} -->
{% endblock %}