{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
{% import 'macros.html' as macros %}

<!--Heredamos de nuestro archivo base-->
{%block title %}
    {{super()}}
    Colas de estados
{% endblock %}

{% block content %}
    <h1>Colas de estados</h1>
    <div class="container mt-4">
        <h2>Cola de procesos con estado nuevo</h2>
        <ol class="list-group">
            {% for proceso in cola_nuevo %}
                <li class="list-group-item">Proceso {{proceso.get_id()}}</li>
            {% else %}
                <div class="alert alert-info" role="alert">No hay procesos en esta cola</div>
            {% endfor %}
        </ol>
        
        <h2>Cola de procesos con estado listo</h2>
        <ol class="list-group">
            {% for proceso in cola_listo %}
                <li class="list-group-item">Proceso {{proceso.get_id()}}</li>
            {% else %}
                <div class="alert alert-info" role="alert">No hay procesos en esta cola</div>
            {% endfor %}
        </ol>

        <h2>Cola de procesos con estado bloqueado</h2>
        <ol class="list-group">
            {% for proceso in cola_bloqueado %}
                <li class="list-group-item">Proceso {{proceso.get_id()}}</li>
            {% else %}
                <div class="alert alert-info" role="alert">No hay procesos en esta cola</div>
            {% endfor %}
        </ol>

        <h2>Cola de procesos con estado ejecucion</h2>
        <ol class="list-group">
            {% for proceso in cola_ejecucion %}
                <li class="list-group-item">Proceso {{proceso.get_id()}}</li>
            {% else %}
                <div class="alert alert-info" role="alert">No hay procesos en esta cola</div>
            {% endfor %}
        </ol>

        <h2>Cola de procesos con estado terminado</h2>
        <ol class="list-group">
            {% for proceso in cola_terminado %}
                <li class="list-group-item">Proceso {{proceso.get_id()}}</li>
            {% else %}
                <div class="alert alert-info" role="alert">No hay procesos en esta cola</div>
            {% endfor %}
        </ol>
    </div>
{% endblock %}